<div class='comment' id='comment_{{id}}'>
    <div style="float: left;">
        {{#if user_avatar_url}}
            <img src="{{user_avatar_url}}" style="width: 50px; height: 50px;"/>
        {{else}}
            <img src="/person.png" style="width: 50px; height: 50px;"/>
        {{/if}}
    </div>
    <div style="margin-left: 55px;">
        <span class="user_name">
        {{#if user_url}}
            <a href="{{user_url}}">{{user_name}}</a>
        {{else}}
            {{user_name}} 
        {{/if}}
        </span>
        <span class="source_name">{{source_name}}</span>
        <span class='created'>{{created}}</span>
        <br/>
        {{small_stars rating}}<br/>
        {{comments}}
    </div>
    <div style="clear: left;"></div>
</div>