{{increment_index}}
<div class="field">
  <input type="text" name="config_urls[{{current_index}}][url]" value="{{ url }}" placeholder="https://" class="span4"/>
  <input type="text" name="config_urls[{{current_index}}][description]" value="{{ description }}" placeholder="config name"/>
  <button class="btn delete_field" type='button'>Delete</button>
</div>
