{{increment_index}}
<div class="field">
  <input type="text" name="custom_fields[{{current_index}}][key]" value="{{ key }}" placeholder="key name"/>
  <input type="text" name="custom_fields[{{current_index}}][value]" value="{{ value }}" placeholder="value"/>
  <button class="btn delete_field" type='button'>Delete</button>
</div>
