<div class="filters form-inline well">
    <select id="category" title="Category">
        <option value="all">All Categories</option>
        <option value="recent">Recently Added</option>
        {{#each categories}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    
    <select id="level" title="Grade Level">
        <option value="all">All Grade Levels</option>
        {{#each levels}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    
    <select id="platform" title="Platform">
        <option value="all">All Platforms</option>
        {{#each platforms}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
        <option value="other">Other Platform</option>
    </select>
    <span id="visible_app_count"></span>&nbsp;
    Apps Shown
</div>