<div class="repo">
  <img src="{{ owner.image_url }}"/>
  <a href="{{ url }}" class="name" target="_blank">{{ repo }}</a>
  <div class='details'>
    <div class='owner'>
      by <a href="{{ owner.url }}" target="_blank">{{ owner.name }}</a>
      {{#if parent }}
        <span class='fork'>forked from <a href="{{ parent.url }}" target="_blank">{{ parent.repo }}</a></span>
      {{/if }}
    </div>
    <span class='description'>{{ description }}</span>
    <table class='stats'>
      <thead>
        <tr>
          <th>forks</th>
          <th>watchers</th>
          <th>language</th>
          <th>first commit</th>
          <th>last commit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ forks }}</td>
          <td>{{ watchers }}</td>
          <td>{{ language }}</td>
          <td>{{ created_at }}</td>
          <td>{{ pushed_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>